@import "foundation/reset";
@import "foundation/mixin";
@import "foundation/variable.scss";
@import "foundation/base";
.l-header {
  width: 100%;
  height: 94px;

  position: fixed;
  z-index: 1000;
  color: #fff;
  line-height: 1.2;
  box-shadow: 0px 3px 6px #00000029;
  align-items: center;
  &__wrap {
    align-items: center;

    width: 100%;

    @include breakpoint(pc) {
      display: flex;
    }
  }
  @include breakpoint(pc) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  .c-button__nav {
    scroll-behavior: smooth;
    display: none;
    @include breakpoint(pc) {
      display: block;
      color: #fff;
      padding: 11px 36px 12px 35px;
      width: 30%;
      font-size: 14px;
      border-radius: 10px;
      margin-left: 30px;
      box-shadow: 0px 3px 6px #00000029;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    margin: 0 25px;
    height: 100%;

    @include breakpoint(tablet) {
      margin: 0 40px;
    }
    @include breakpoint(pc) {
    }
  }
  h1 {
    margin-left: 20px;
    font-size: 24px;
  }
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  height: 94px;
  width: 100%;
  @include breakpoint(pc) {
    width: auto;
  }
}
.l-header__logo {
  width: 47px;
  height: 47px;
  object-fit: cover;
}

.p-hamburger {
  position: relative;
  top: 20%;
  right: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
  z-index: 1000;
  @include breakpoint(pc) {
    display: none;
  }
  span {
    width: 30px;
    height: 2px;
    font-size: 0;
    position: absolute;
    background: #fff;
    background-size: auto 1px;
    left: calc(50% - (20px / 2));
    top: 50%;
    transition: transform 0.2s;
  }
  &.is-open span {
    display: none;
  }
  &.is-open::after {
    transform: rotate(-45deg);
    top: 24px;
  }
  &.is-open::before {
    transform: rotate(45deg);
    top: 24px;
  }
  &::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - (20px / 2));
    display: block;
    transition: transform 0.2s;
    bottom: 15px;
  }
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - (20px / 2));
    display: block;
    transition: transform 0.2s;
    top: 15px;
  }
}
.p-dropdown-menu {
  text-align: center;
  align-items: center;
  width: 80%;
  text-align: center;
  position: relative;
  margin: 100px auto 0 auto;
  z-index: 1000;
  @include breakpoint(pc) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    align-items: center;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    @include breakpoint(table) {
      height: 400px;
    }
    @include breakpoint(pc) {
      align-items: center;
      background-color: transparent;
    }
    a {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.55);
      text-decoration: none;

      @include breakpoint(pc) {
        color: #fff;
      }
      &:hover {
       opacity: 0.5;
      }
    }

    // opacity: 0;
    top: 50%;
    // visibility: hidden;
    // transition: 0.5s;
    color: black;
    display: none;
    @include breakpoint(pc) {
      display: flex;
    }
    &.is-open {
      top: 100%;

      // visibility: visible;

      // opacity: 1;
    }
  }
}
.c-dropdown-menu__item {
  padding: 20px;
  align-items: center;
  align-items: center;
  list-style: none;
  justify-content: center;
  @include breakpoint(pc) {
    list-style: none;
    border: 0;
    margin-left: 46px;
    padding: 0;
  }
  a {
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    @include breakpoint(pc) {
      border: none;
    }
  }
  img {
    @include breakpoint(pc) {
      display: none;
    }
  }
  &__button {
    background-color: #978f10;
    height: 54px;
    justify-content: center;
    align-items: center;
    @include breakpoint(pc) {
      width: 170px;
      margin-right: 30px;
      align-items: center;
    }

    img {
      display: block;
    }
  }
}
.c-button__header {
  display: none;
  @include breakpoint(table) {
    display: block;
  }
}
.c-button__menu {
  background-color: #978f10;
  padding: 20px;
  border-radius: 10px;

  a {
    align-items: center;
    border: none;
    color: #fff;
  }

  @include breakpoint(pc) {
    margin-left: 100px;
  }
}

.u-border {
  border-radius: 0 0 10px 10px;
  padding-bottom: 20px;
  @include breakpoint(pc) {
    border-radius: 0;
  }
}
.c-dropdown-menu__item2 {
  justify-content: center;
  list-style: none;
  border-radius: 10px;
  background-color: #978f10;
  width: 200px;
  margin: 0 auto;
  padding: 20px 0;
  @include breakpoint(pc) {
    border-radius: 0;
    margin: 0;
  }
  span {
    color: rgba(0, 0, 0, 0.55);
    vertical-align: middle;
    border-bottom: 1px solid #e5e5e5;
    @include breakpoint(pc) {
      border: 0;

      color: #fff;
    }
  }
  img {
    vertical-align: middle;
  }
  padding-bottom: 20px;
  a {
    align-items: center;
    // border-bottom: 1px solid #e5e5e5;

    @include breakpoint(pc) {
      border: 0;
      padding: 0;
    }
  }
}
.p-hero {
  //  background-image:url(../image/mainbg01.jpg);
  position: relative;
  width: 100%;
  height: 100%;
  h1 {
    position: absolute;
    top: 30%;
    left: 67%;
    writing-mode: vertical-rl;
    color: #fff;
    z-index: 999;
    font-size: 28px;
    line-height: 6rem;

    @include breakpoint(table) {
      font-size: 30px;
    }
    @include breakpoint(pc) {
      font-size: 34px;
    }
  }
}
.slide-img img {
  object-fit: cover;
  width: 100%;
  height: 600px;
  @include breakpoint(pc) {
    height: 1079px;
  }
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  animation: zoomUp 10s linear 0s 1 normal both;
}

//imgタグだと下に隙間ができるのでblockに。
.slide-img img {
  display: block;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: $background-color;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
}
.is-open .black-bg {
  opacity: 0.8;
  visibility: visible;
  @include breakpoint(pc) {
    display: none;
  }
}
.modaal-content {
  width: 100%;
  height: 55%;
}

.form-table {
  table-layout: fixed;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  @include breakpoint(pc) {
    margin-top: 5%;
  }
  tr {
    
    margin-top: 20px;
    @include breakpoint(pc) {
      margin-top: 2%;
    }
  }
  th {
    width: 200px;
    font-size: 1em;
    margin-top: 20px;
    @include breakpoint(tablet) {
      width: 100%;
    }
    @include breakpoint(pc) {
      padding-bottom: 2%;

      margin-top: 14px;
      font-size: 16px;
    }
    font-family: "游明朝体";
    line-height: 1.68;
    text-align: left;
    display: block;
    color: #000;
  }
  td {
    @include breakpoint(pc) {
      width: 100%;
    }
    display: block;
    border: solid 1px #e7e7e7;
    input {
      font-size: 13px;
      width: 100%;
      @include breakpoint (tablet) {
        font-size: 16px;

      }
      @include breakpoint(pc) {
        font-size: 18px;
        height: 32px;
        width: 100%;
        padding-left: 10px;
      }
    }
  }
}
.c-button__table {
  margin: 5% auto 7% auto;
  @include breakpoint (tablet) {
    margin: 7% auto 5% auto;
  }
  @include breakpoint(pc) {
    margin: 10% auto 15% auto;
    width: 36%;
    height: 7%;
  }
  display: block;

  border: solid 1px #707070;
  a {
    font-size: 14px;
    @include breakpoint(pc) {
      font-size: 16px;
    }
    line-height: 1.68;
    color: #000;
    text-decoration: none;
  }
}

#modal span {
  border-bottom: solid 1px #000;
}
#modal {
  // padding: 0 20px;
  @include breakpoint(pc) {
    padding: 0 60px;
    margin-top: -30px;
  }
}
#modal-1 {
  display: none;
}
#modal-1.is-open {
  display: block;
}
.modal__overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  background-color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  width: 80%;
  height: 450px;
  @include breakpoint(tablet) {
    width: 500px;
    height: 550px;
  }
  @include breakpoint(pc) {
    padding: 30px;
    width: 520px;
    height: 580px;
  }
  border-radius: 4px;
  // overflow-y: auto;
  box-sizing: border-box;
  h1 {
    font-family: "游明朝体";
    line-height: 1.7;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    @include breakpoint(pc) {
      margin-bottom: 32.5px;
      padding-bottom: 27.5px;
      font-size: 20px;
    }
    color: #000;
    border-bottom: solid 1px #e7e7e7;
  }
}
.modal__close {
  width: 18px;
  height: 18px;

  right: -40%;
  @include breakpoint(pc) {
    height: 18px;
    width: 18px;
    right: -50%;
    top: -30px;
  }
  position: relative;
  cursor: pointer;
  // display: block;
  z-index: 1000;
  @include breakpoint(pc) {
  }
  span {
    width: 30px;
    height: 2px;
    font-size: 0;
    position: absolute;
    background: #000;
    background-size: auto 1px;
    left: calc(50% - (20px / 2));
    top: 50%;
    transition: transform 0.2s;
    display: none;
  }
  &.is-open span {
    display: none;
  }
  &.is-open::after {
    transform: rotate(-45deg);
    top: 24px;
  }
  &.is-open::before {
    transform: rotate(45deg);
    top: 24px;
  }
  &::before {
    width: 26px;
    @include breakpoint(pc) {
      width: 30px;
    }
    content: "";
    height: 2px;
    background-color: #000;
    position: absolute;
    left: calc(50% - (20px / 2));
    display: block;
    transition: transform 0.2s;
    bottom: 15px;
    transform: rotate(45deg);
    top: 24px;
  }
  &::after {
    width: 26px;
    @include breakpoint(pc) {
      width: 30px;
    }
    content: "";
    height: 2px;
    background-color: #000;
    position: absolute;
    left: calc(50% - (20px / 2));
    display: block;
    transition: transform 0.2s;
    top: 15px;
    transform: rotate(-45deg);
    top: 24px;
  }
}
.modal__btn {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
.wrapper {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.u-color {
  color: red;
}
.cp_ipselect {
  select {
    width: 100%;
    color: #797878;
    padding-left: 10px;
    font-size: 13px;
    @include breakpoint (tablet) {
      font-size: 16px;
    }
    @include breakpoint (pc) {
      font-size: 16px;
    }
  }
}
