.l-footer { 
  background-color: #000;
  width: 100%;
  height: 60px;
  font-family: "游明朝体";
  font-weight: 500;
  p {
    color: #fff;
padding-top: 23px;
   line-height: 2;
   text-align: center;
 }
}
