.l-header {
  width: 100%;
  height: 94px;
  // margin-left: 10px;
  position: fixed;
  z-index: 1000;
  color: #fff;
  line-height: 1.2;
  box-shadow: 0px 3px 6px #00000029;
  align-items: center;
  font-family: "游明朝体";
  font-weight: 800;
  &.scroll-nav {
    background-color: #fff;
    
    a {
      color: #000;
    }
    .p-hamburger::before {
      background-color: #000;
    }
    .p-hamburger span {
      background-color: #000;
    }
    .p-hamburger::after {
      background-color: #000;
    }
    button a {
      color: #fff;
    }
  }
  &__left {
    h1 {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  
  &__single {
    background-color: #fff;
    h1 {
      a {
        color: #000;
        text-decoration: none;
      }
    }
    color: #000;
  }
  &__right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__wrap {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    @include breakpoint(pc) {
      position: relative;
    }
    width: 100%;

    @include breakpoint(pc) {
      display: flex;
    }
  }
  @include breakpoint(pc) {
   
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
  }
  .c-button__nav {
    scroll-behavior: smooth;
    display: none;
    @include breakpoint(pc) {
      display: block;
      color: #fff;
      padding: 11px 36px 12px 35px;
      width: 30%;
      font-size: 14px;
      border-radius: 10px;
      margin-left: 30px;
      box-shadow: 0px 3px 6px #00000029;
    }
  }
  &__left {
    display: flex;
    align-items: center;

    height: 100%;

    @include breakpoint(tablet) {
      margin: 0 20px;
    }
    @include breakpoint(pc) {
      order: 1;
    }
  }
  h1 {
    margin-left: 10px;
    font-size: 24px;
    @include breakpoint(tablet) {
      margin-left: 20;
      font-size: 28px;
    }
    @include breakpoint(pc) {
      font-size: 32px;
      width: 145px;
    }
  }
}
.l-header__inner {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 94px;
  width: 100%;
  @include breakpoint(pc) {
    width: auto;
    justify-content: space-between;
  }
}
.l-header__logo {
  object-fit: cover;
  width: 30px;
  @include breakpoint(pc) {
    width: 47px;
    height: 47px;
  }
}
