.p-service {
  width: 100%;

  @include breakpoint(tablet) {
    padding-bottom: 50px;
  }
  @include breakpoint(pc) {
    padding-bottom: 78px;
  }
  &__inner__single {
    font-family: "游明朝体";
    @include breakpoint(tablet) {
      max-width: 750px;
      margin: 0 auto;
    }
    @include breakpoint(pc) {
      max-width: 1000px;
    }
  }
  &__container {
    padding-top: 30px;
    @include breakpoint(tablet) {
      padding-top: 36px;
    }
    a {
      font-weight: 500;
      text-decoration: none;
      color: #000;
    }
    p {
      font-weight: 500;
      text-align: center;
      padding-top: 70px;
      line-height: 2;

      @include breakpoint(tablet) {
        padding-top: 90px;
      }
    }
  }
  &__wrap__single {
    font-family: "游明朝体";
    font-weight: 500;
    padding: 0 20px;
    @include breakpoint(tablet) {
      text-align: left;
      height: 300px;
      background-image: url(..//image/bg.png);
      position: absolute;
      top: 100px;
      left: 300px;
      z-index: -100;
      padding-left: 100px;
      padding-top: 10px;
    }
    @include breakpoint(pc) {
      width: 70%;
      height: 320px;
    }
    span {
      font-size: 14px;
    }
  }
}
.p-service__box {
  width: 100%;
  position: relative;
  font-family: "游明朝体";
  font-weight: 500;
  @include breakpoint(tablet) {
    position: static;
    display: flex;
  }
  &__single {
    background-image: url(../image/bg.png);
    padding-top: 60px;
    @include breakpoint(tablet) {
      margin-top: 40px;
      display: flex;
      background-image: none;
      position: relative;
    }
    @include breakpoint(pc) {
      width: 100%;
      margin-top: 100px;
    }
  }
  &__image {
   &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
   }
    @include breakpoint(tablet) {
      width: 140%;
    }
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    
      @include breakpoint(tablet) {
        padding: 90px 0 0 0;
      }
      @include breakpoint(pc) {
        padding: 106px 0 0 0;
      }
    }
    &__single {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        @include breakpoint(tablet) {
          width: 100%;
          height: 250px;
        }
      }
    }
  }
  &__content {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
    @include breakpoint(tablet) {
      padding: 70px 0 0 0;
      color: #000;
      padding-left: 50px;
      padding-right: 30px;
      position: static;
    }
    @include breakpoint(pc) {
      padding: 138px 30px 0px 137px;
    }
  }
}
