.c-button__menu {
  background-color: #978f10;
  padding: 20px;
  border-radius: 10px;

  a {
    align-items: center;
    border: none;
    color: #fff;
  }

  @include breakpoint(pc) {
    margin-left: 100px;
  }
}