.u-padding {
  z-index: 100;
  &__botton {
    padding-bottom: 80px;
    @include breakpoint (pc) {
      padding-bottom: 110px;
    }
  }
  @include breakpoint(tablet) {
    padding-top: 70px;
  }
  @include breakpoint(pc) {
    padding-left: 200px;
    padding-top: 100px;
  }
  p {
    width: 90%;
  }
  @include breakpoint(pc) {
  }
}